{% extends "admin/change_form.html" %}

{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
    <script src="{% static 'admin_custom.js' %}"></script>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.querySelector('.select-all-checkbox');
        const itemCheckboxes = document.querySelectorAll('input[name$="-DELETE"]');
        
        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = this.checked;
            itemCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });
</script>
{% endblock %}

{% block conent %}
{{ block.super }}

<div class="related-widget-wrapper">
    <h2>User Words:</h2>
    {% comment %}
        <p>{{ user_words_display }}</p>
    {% endcomment %}

    {% for user_word in user_words_page %}
        {{ user_word }}
    {% endfor %}

    <div class="paginator">
        <span class="step-links">
            {% if user_words_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ user_words_page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ user_words_page.number }} of {{ user_words_page.paginator.num_pages }}
            </span>

            {% if user_words_page.has_next }
                <a href="?page={{ user_words_page.next_page_number }}">next</a>
                <a href="?page={{ user_words_page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

<div class="submit-row">
    <input type="checkbox" class="select-all-checkbox" /> {% trans "Select All" %}
    <input type="submit" value="{% trans 'Delete selected items' %}" class="deletelinkj" name="action" />
</div>

{% endblock %}